<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Light 3.1</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">

      <div v-for="box in boxs">{{ box }}</div>

      <button @click="addBox(colors)">
        {{ Id }}
      </button>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          Id: "เปลี่ยนไฟ",
          colors: ["red", "yellow", "green"],
          selectColor: "",
          boxs: [],
        },
        methods: {
          addBox: function (colors) {
            this.boxs.push(colors[0]);
            this.boxs.push(colors[1]);
            this.boxs.push(colors[2]);
          },
        },
      });
    </script>
  </body>
</html>
